.turn {
  display: flex;
  justify-content: space-between;
}

.btn {
  margin-left: 35px;
  margin-top: -200px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(85, 85, 85, 0);
  color: rgb(129, 127, 127);
  font-size: 20px;
  padding: -10px;
  border: none;
  font-weight: 900;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.btn:hover {
  background-color: rgba(248, 242, 242, 0.144);
}

.section {
  position: relative;
  text-align: center;
  margin: 85 px auto auto;
  z-index: 1;
  display: block;
}

.marqueeStart {
  display: flex;
  font-family: ScoreBoard;
  text-transform: uppercase;
  height: 60 px;
}

.marqueeContainer {
  overflow-x: hidden !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  width: 100%;
  --pause-on-hover: paused;
  --pause-on-click: running;
}

.pink {
  background: rgb(238, 159, 241);
  box-shadow: rgb(0 0 0) 3px 0px 7px;
  font-size: 21px;
  color: rgb(0, 0, 0);
  padding: 5 px 25 px;
  text-align: left;
  line-height: 26px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.marquee {
  flex: 0 0 auto;
  min-width: 100%;
  z-index: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);

  --play: running;
  --direction: normal;
  --duration: 13.06927s;
  --delay: 0s;
  --iteration-count: infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marqueeEnd {
  position: relative;
  background: rgb(41, 41, 41);
  font-size: 27px;
  color: rgb(182, 174, 174);
  width: 100%;
  overflow: hidden;
  padding: 15 px;
}

* {
  box-sizing: border-box;
  -webkit-appearance: none;
}

.circle {
  margin-left: 130px;
}
.circle:hover {
  box-shadow: rgb(0 0 0) 3px 0px 10px;
}
