.nav {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  border-bottom: solit 1px #abb9cc;
  line-height: 2px;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.nav .left {
  display: flex;
}

.nav .left .menu {
  display: flex;
  margin-left: 40px;
}
